.select-btn {
  width: 168px;
  margin-bottom: 8px;
  padding-right: 5px;
  border: 1px solid #e5e5e5;
  background-color: rgba(0, 0, 0, 0);
  font-size: 17px;
  letter-spacing: -0.18px;
  line-height: 36px;
  text-align: left;
  cursor: pointer;

  &.selected {
    background-color: #000;
    color: #fff;
  }

  input {
    opacity: 0;
  }
}
