.container {
  display: flex;
  flex-direction: column;
  width: 364px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.product-image {
  width: 364px;
  height: 455px;
  cursor: pointer;
}

.product-description {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.product-name {
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
}

.product-price {
  display: flex;
  align-items: center;
  font-size: 15px;
}
