$black: #000;
$white: #fff;

$mainColor: #fcdb02;

//font color
$pointFontColor: #999999;
<<<<<<< Updated upstream

//box color
$soldOutBoxColor: #f7f7f7;
$boxBackground: #fafafa;

//border color
$borderGray: #dddddd;
=======
$borderColor: #e5e5e5;
>>>>>>> Stashed changes
