.modal {
  width: 678px;
  height: 193px;
  padding: 16px 32px 16px 77px;
  margin-top: 0px;
  position: relative;
  border: 1px solid #dddd;
}

.modal-img {
  width: 128px;
  height: 160px;
  opacity: 1;
  display: block;
  border: 1px solid blue;
}
.item-info {
  width: 418px;
  height: 74px;
  right: 93px;
  margin-top: 10px;
  margin-left: 150px;
  display: block;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: -0.01em;
    color: rgb(0, 0, 0);
  }
  .option {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    background-color: transparent;
    border: 0;
  }

  .color {
    font-weight: 400;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    list-style: none;
  }
}
.price {
  display: block;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 700;
}
.size .grind {
  top: 20px;
}
