.footer {
  width: 1140px;
}
.footer-wrapper {
  display: block;
  width: 100%;
  height: 350px;
  font-family: Dotum;
}

.footer-top {
  display: flex;
  width: 100%;
  height: 210px;
  padding: 30px;
  line-height: 15px;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
}

.footer-top span {
  line-height: 23px;
  color: #999999;
  font-size: 15px;
}
.footer-top-left {
  width: 866px;
  height: 186px;
  min-height: auto;
  min-width: auto;
}

.footer-top-left span {
  line-height: 23px;
  color: #999999;
  font-size: 15px;
}
.footer-bottom {
  display: flex;
  width: 1140px;
  height: 80px;
  padding: 20px;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  border-top: 1px solid #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
}
.footer-bottom span {
  padding-top: 15px;
}
.title,
.phone {
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.logo {
  img {
    width: 270px;
    height: 200px;
    margin-top: -20px;
    margin-right: -25px;
  }
}
