.signup-section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height: 100vh;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  font-family: “Spoqa Han Sans Neo”, sans-serif;

  .page-description {
    width: 100%;
    font-size: 140%;
  }

  .pageback-btn {
    width: fit-content;
    margin-bottom: 20px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .arrow-left {
    font-size: 50px;
  }

  .welcome-title {
    margin-bottom: 15px;
    font-size: 230%;
    font-weight: 740;
    text-align: center;
  }

  .welcome-subtitle {
    margin-bottom: 30px;
    color: #666666;
    font-size: 100%;
    font-weight: 630;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    width: 440px;
  }

  .input-label {
    position: relative;
    top: 9px;
    left: 20px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
  }

  .inputbox {
    height: 60px;
    margin-bottom: 5px;
    padding-left: 15px;
    font-size: 20px;
  }

  .input-label-email {
    position: relative;
    top: 8px;
    left: 20px;
    width: fit-content;
    height: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    font-weight: 700;
  }

  .email-section {
    .email-section-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1px;

      .inputbox-email {
        width: 200px;
        height: 60px;
        margin-bottom: 5px;
        padding-left: 15px;
        font-size: 20px;
      }

      .at {
        font-size: 20px;
        font-weight: 700;
      }

      .email-provider {
        width: 150px;
        height: 60px;
        margin-bottom: 5px;
        font-size: 20px;
        text-align: center;
      }
    }

    .email-section-2 {
      width: 440px;
      height: 60px;
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 15px;
      font-size: 20px;
    }
  }

  .phone-section {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-bottom: 10px;

    .inputbox-phone {
      width: 130px;
      height: 51px;
      font-size: 20px;
      text-align: center;
    }
  }

  .signup-btn {
    width: 440px;
    height: 60px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background-color: #111111;
    color: white;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
  }
}
