@import "../../../styles/color";

.scroll-container {
  position: relative;
  height: 560px;
  margin-bottom: 80px;
  background-color: $boxColor;

  .btn-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 64px;
    transform: translate(-50%);
    border: 1px solid red;
    color: #fff;
    text-align: center;

    .left-btn,
    .right-btn {
      position: absolute;
      width: 64px;
      height: 64px;
      padding-top: 12px;
      background-color: #000;
      cursor: pointer;
    }

    .left-btn {
      left: 0;
    }

    .right-btn {
      right: 0;
    }
  }
}
