.headerwrapper {
  display: flex;
  justify-content: center;
  width: 1150px;
  height: 95px;
  margin: 0 160px 0 160px;
  background-color: rgb(249, 249, 242);
  text-align: center;
}

.hamburgerbutton {
  align-items: center;
  width: 47px;
  height: 45px;
  margin-top: 25px;
  padding: 10px;
}

.searchform {
  display: inline-block;
  width: 300px;
  margin: auto;
  padding: 1px 2px 1px 2px;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  word-spacing: 0px;
  cursor: text;
}

.headericons {
  display: flex;
  width: 28px;
  height: 33px;
  margin-top: 35px;
  margin-right: 250px;
  cursor: pointer;
  gap: 40px;
}
