.NavSide {
  display: block;
  width: 300px;
  height: 434px;
  margin-top: 5px;
  border: 1px solid darkblue;

  .side-list {
    display: flex;
    position: relative;
    width: 280px;
    height: 30px;
    top: 60px;
    margin-top: 40px;
    border: 1px solid gold;
  }
}
