.NavSide {
  display: block;
  width: 200px;
  height: 470px;
  margin-top: 35px;
  background-color: #0000;
  border: 1px solid rgb(146, 146, 146);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  .side-list {
    display: flex;
    width: 350px;
    height: 50px;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 800;
  }
  .side-menu {
    display: flex;
    flex-direction: column;
    text-align: center;

    cursor: default;
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    cursor: default;
  }
}
